
@model Customer
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
</head>

<body>
    <div class="container light-style flex-grow-1 container-p-y">
        <h4 class="font-weight-bold py-3 mb-4">Account settings</h4>
        @* Display message from ViewBag if available *@
        @if (!string.IsNullOrEmpty(ViewBag.Message))
        {
            <div class="alert alert-@(ViewBag.MessageType ?? "info")" role="alert">
                @Html.Raw(ViewBag.Message)
            </div>
        }
        <div class="card overflow-hidden">
            <div class="row no-gutters row-bordered row-border-light">
                <div class="col-md-3 pt-0">
                    <div class="list-group list-group-flush account-settings-links">
                        <a class="list-group-item list-group-item-action active" data-toggle="list" href="#account-general">General</a>
                        <a class="list-group-item list-group-item-action" data-toggle="list" href="#account-change-password">Change password</a>
                        <a class="list-group-item list-group-item-action" data-toggle="list" href="#account-Payment-Method">Payment Method</a>
                        <a class="list-group-item list-group-item-action" data-toggle="list" href="#account-Shipping-Address">Shipping Address </a>
                        <a class="list-group-item list-group-item-action" data-toggle="list" href="#account-Orders">Orders</a>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="tab-content">
                        <div class="tab-pane fade active show" id="account-general">
                            <hr class="border-light m-0">
                            <div class="card-body">
                                <form id="profileForm" action="UpdateProfileGeneral" method="post">
                                    <div class="form-group">
                                        <label class="form-label">Name</label>
                                        <input type="text" class="form-control" name="full_name" placeholder="@Model.full_name">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">E-mail</label>
                                        <input type="text" class="form-control mb-1" name="email" placeholder="@Model.email">
                                        <div class="alert alert-warning mt-3">
                                            Your email is not confirmed. Please check your inbox.<br>
                                            <a href="javascript:void(0)">Resend confirmation</a>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Phone</label>
                                        <input type="text" class="form-control" name="phone" placeholder="@Model.phone">
                                    </div>
                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                    
                                </form>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="account-change-password">
                            <div class="card-body">
                                <form id="profileForm" action="UpdateProfile" method="post">
                                    <div class="form-group">
                                        <label class="form-label">Current password</label>
                                        <input name="password" type="password" class="form-control" placeholder="Password">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">New password</label>
                                        <input type="password" name="password" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Repeat new password</label>
                                        <input type="password" class="form-control">
                                    </div>
                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                </form>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="account-Payment-Method">
                            <div class="card-body ">
                                <form id="profileForm" action="UpdateProfile" method="post">
                                    <div class="form-group">
                                        <label class="form-label">Credit Card Number</label>
                                        <input name="CreditCardNumber" class="form-control" placeholder="Your Number">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Date</label>
                                        <input name="Date" class="form-control" placeholder="MM/YY">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">CVV</label>
                                        <input name="cvv" placeholder="CVV" class="form-control">
                                    </div>
                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                </form>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="account-Shipping-Address">
                            <div class="card-body ">
                                <form id="profileForm" action="UpdateProfile" method="post">
                                    <div class="form-group">
                                        <label class="form-label">City</label>
                                        <input name="city" class="form-control" placeholder="@Model.city">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Address</label>
                                        <input name="address" class="form-control" placeholder="@Model.address">
                                    </div>
                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                </form>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="account-Orders">
                            <div class="card-body ">
                                <form id="profileForm" action="UpdateProfile" method="post">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-right mt-3">
            <button type="button" class="btn btn-default">Cancel</button>
        </div>
    </div>

    <!-- JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>$(document).ready(function () {
            // When a list group item is clicked
            $('.account-settings-links .list-group-item').click(function () {
                // Hide all tab panes
                $('.tab-pane').removeClass('show active');
                // Show the corresponding tab pane
                $($(this).attr('href')).addClass('show active');
            });
        });</script>
</body>

</html>

