@model Online_Ceramics_Store.Models.CartModel
@using System.Data
<!DOCTYPE html>
<html lang="en">

@*@{
    // Retrieve cartModel object from TempData
    CartModel cartModel = TempData["try"] as CartModel;
}*@

<head>
    <meta charset="utf-8">
    <title>EShopper - Bootstrap Shop Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
   
    <!-- Page Header Start -->
    <div class="container-fluid mb-5" style="background-color: #EDF1FF;">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px; background-color: #EDF1FF; ">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">Checkout</h1>
            <div class="d-inline-flex">
            </div>
        </div>
    </div>
    <!-- Page Header End -->
    <!-- Checkout Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5">
            <div class="col-lg-8">
                <div class="mb-4">
                    <h4 class="font-weight-semi-bold mb-4">Billing Address</h4>
                    <div class="row">
                        <form id="checkoutForm" method="post" action="@Url.Action("completeOrder", "ShoppingCart")">
                            <div class="col-md-6 form-group">
                                <label>Full Name</label>
                                <input class="form-control" type="text" placeholder="Your full name" value="@Model.userDetails?.full_name" name="userDetails.full_name">
                                <div>@Html.ValidationMessageFor(x => x.userDetails.full_name)</div>

                            </div>
                            <div class="col-md-6 form-group">
                                <label>Country</label>
                                <input class="form-control" type="text" placeholder="Israel" value="Israel">
                            </div>
                            <div class="col-md-6 form-group">
                                <label>E-mail</label>
                                <input class="form-control" type="text" placeholder="example@email.com" value="@Model.userDetails?.email" name="userDetails.email">
                                <div>@Html.ValidationMessageFor(x => x.userDetails.email)</div>

                            </div>
                            <div class="col-md-6 form-group">
                                <label>Mobile phone</label>
                                <input class="form-control" type="text" placeholder="+972 50 4567134" value="@Model.userDetails?.phone" name="userDetails.phone">
                                <div>@Html.ValidationMessageFor(x => x.userDetails.phone)</div>

                            </div>
                            <div class="col-md-6 form-group">
                                <label>Full address</label>
                                <input class="form-control" type="text" placeholder="123 Street" value="@Model.userDetails?.address" name="userDetails.address">
                                <div>@Html.ValidationMessageFor(x => x.userDetails.address)</div>
                            </div>
                            <div class="col-md-6 form-group">
                                <label>City</label>
                                <input class="form-control" type="text" placeholder="Tel Aviv" value="@Model.userDetails?.city" name="userDetails.city">
                                <div>@Html.ValidationMessageFor(x => x.userDetails.city)</div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card border-secondary mb-5">
                    <div class="card-header border-0" style="background-color: #EDF1FF;">
                        <h4 class="font-weight-semi-bold m-0">Order Total</h4>
                    </div>
                    <div class="card-body">
                        <h5 class="font-weight-medium mb-3">Products</h5>
                        @foreach (DataRow row in Model.Products.Rows)
                        {
                            <div class="d-flex justify-content-between">
                                <p>@row["name"] x @row["quantity"]</p>
                                @if (Convert.ToDecimal(row["percent"]) == 0)
                                {
                                    <p>@($"${Convert.ToDecimal(row["price"]) * Convert.ToInt32(row["quantity"]):N2}")</p>
                                }
                                else
                                {
                                    <p>@($"${((Convert.ToDecimal(row["price"]) * Convert.ToInt32(row["quantity"]))-(Convert.ToDecimal(row["price"]) * Convert.ToInt32(row["quantity"])) * Convert.ToDecimal(row["percent"]) / 100):N2}")</p>
                                }
                            </div>
                        }
                        <hr class="mt-0">
                        <div class="d-flex justify-content-between mb-3 pt-1">
                            <h6 class="font-weight-medium">Subtotal</h6>
                            <h6 class="font-weight-medium">@($"${Model.Subtotal:N2}")</h6>

                        </div>
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">Shipping</h6>
                            <h6 class="font-weight-medium">$10</h6>
                        </div>
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <div class="d-flex justify-content-between mt-2">
                            <h5 class="font-weight-bold">Total</h5>
                            <h5 class="font-weight-bold">@($"${Model.Subtotal + 10:N2}")</h5>
                        </div>
                    </div>
                </div>
                <div class="card border-secondary mb-5">
                    <div class="card-header border-0" style="background-color: #EDF1FF;">
                        <h4 class="font-weight-semi-bold m-0">Payment</h4>
                    </div>
                    <form id="paymentForm">
                        <!-- Add input fields for personal details -->
                        <!-- Credit card information -->
                        <div class="form-group">
                            <label>Credit Card Number</label>
                            <input class="form-control" type="text" placeholder="Enter credit card number" name="creditCardNumber" id="creditCardNumber">
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label>Expiration Date</label>
                                <input class="form-control" type="text" placeholder="MM/YY" name="expirationDate" id="expirationDate">
                            </div>
                            <div class="form-group col-md-6">
                                <label>CVV</label>
                                <input class="form-control" type="text" placeholder="CVV" name="cvv" id="cvv">
                            </div>
                        </div>
                        <!-- Validation messages -->
                        <div id="validationMessages"></div>
                    </form>

                    <div class="card-footer border-secondary bg-transparent">
                        <button class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3" id="validateCreditCardBtn" style="color: black; background-color: #D19C97; border: hidden;">Validate Credit Card</button>
                    </div>
                </div>
                @if (!string.IsNullOrEmpty(TempData["ErrorMessage"] as string))
                {
                    <div class="alert alert-danger" role="alert">
                        @TempData["ErrorMessage"]
                    </div>
                }
            </div>
        </div>
    </div>
    <!-- Checkout End -->
    <!-- Footer Start -->
    <div class="container-fluid text-dark mt-5 pt-5" style="background-color: #EDF1FF;">
        <div class="row px-xl-5 pt-5">
            <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
                <a href="" class="text-decoration-none">
                    <h1 class="mb-4 display-5 font-weight-semi-bold" style="color: black;">Ceramics shop</h1>
                </a>
                <p>Welcome to Kal Vahomer Ceramics Studio, where creativity flourishes and stories are sculpted from clay. Join us to explore the art of ceramics through expert instruction and hands-on experiences for all skill levels..</p>
                <p class="mb-2"><i class="fa fa-map-marker-alt mr-3" style="color: #D19C97;"></i>12 Har Boker, Mitzpe Ramon, ISRAEL</p>
                <p class="mb-2"><i class="fa fa-envelope mr-3" style="color: #D19C97;"></i>studiokalvahomer@gmail.com</p>
                <p class="mb-0"><i class="fa fa-phone-alt mr-3" style="color: #D19C97;"></i>0509799089</p>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="row">
                    <div class="col-md-4 mb-5">
                        <h5 class="font-weight-bold text-dark mb-4">Quick Links</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-dark mb-2" href="@Url.Action("HomePage", "Home")"><i class="fa fa-angle-right mr-2"></i>Home</a>
                            <a class="text-dark mb-2" href="@Url.Action("shop", "Products")"><i class="fa fa-angle-right mr-2"></i>Our Shop</a>
                            <a class="text-dark mb-2" href="@Url.Action("cart", "ShoppingCart")"><i class="fa fa-angle-right mr-2"></i>Shopping Cart</a>
                            <a class="text-dark mb-2" href="@Url.Action("checkout", "ShoppingCart")"><i class="fa fa-angle-right mr-2"></i>Checkout</a>
                            <a class="text-dark" href="@Url.Action("Contact", "Reference")"><i class="fa fa-angle-right mr-2"></i>Contact Us</a>
                        </div>
                    </div>
                    <div class="col-md-6 px-xl-0 text-center text-md-right">
                        <img class="img-fluid" src="~/Images/KalVahomer-5.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="row border-top border-light mx-xl-5 py-4">
            <div class="col-md-6 px-xl-0">
                <p class="mb-md-0 text-center text-md-left text-dark">
                    &copy; <a class="text-dark font-weight-semi-bold" href="#">Kal Vahomer</a>
                </p>
            </div>
        </div>
    </div>
    <!-- Footer End -->
    <!-- Back to Top -->
    <a href="#" class="btn btn-primary back-to-top" style="background-color: #D19C97; border: hidden;"><i class="fa fa-angle-double-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="mail/jqBootstrapValidation.min.js"></script>
    <script src="mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
    @*<script>document.getElementById('completeOrderBtn').addEventListener('click', function () {
            // Submit the form when the button is clicked
            document.getElementById('checkoutForm').submit();
        });</script>*@

    <script>// Function to validate credit card number
        function isValidCreditCardNumber(cardNumber) {
            return /^\d{16}$/.test(cardNumber);
        }

        // Function to validate expiration date
        function isValidExpirationDate(expirationDate) {
            var currentDate = new Date();
            var inputDate = new Date('20' + expirationDate.slice(3) + '-' + expirationDate.slice(0, 2) + '-01');
            return inputDate > currentDate;
        }

        // Function to validate CVV
        function isValidCVV(cvv) {
            return /^\d{3}$/.test(cvv);
        }

        // Function to handle form submission
        document.getElementById('validateCreditCardBtn').addEventListener('click', function (event) {
            event.preventDefault();

            var cardNumber = document.getElementById('creditCardNumber').value;
            var expirationDate = document.getElementById('expirationDate').value;
            var cvv = document.getElementById('cvv').value;

            var validationMessages = document.getElementById('validationMessages');
            validationMessages.innerHTML = '';

            var isValid = true;

            // Validate credit card number
            if (!isValidCreditCardNumber(cardNumber)) {
                validationMessages.innerHTML += '<div>Invalid credit card number</div>';
                isValid = false;
            }

            // Validate expiration date
            if (!isValidExpirationDate(expirationDate)) {
                validationMessages.innerHTML += '<div>Expiration date must be after the current date</div>';
                isValid = false;
            }

            // Validate CVV
            if (!isValidCVV(cvv)) {
                validationMessages.innerHTML += '<div>CVV must be 3 digits long</div>';
                isValid = false;
            }

            // If all validations pass, submit the form
            if (isValid) {
                document.getElementById('checkoutForm').submit();
            }
        });</script>

    <script>
        $(document).ready(function () {
            var orderId = @ViewBag.OrderId;
        if (orderId) {
            alert("The order has been successfully completed and will be distributed in the coming days. Order number for the delayer - " + orderId + ". Thank you and happy shopping");
        }
    });
    </script>

</body>

</html>